:root {
--primary-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
}

.weblogo {

   color: #4D5AE5;
}
.logo {
font-family: var(--secondary-font)
font-weight: 800;
font-size: 18px;
line-height: 1.17px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
.menu-link {

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.menu-link:hover,
.menu-link:focus {
    color: #4D5AE5;
}

.contact-mail {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.contact-mail:hover,
.contact-mail:focus {
    color: #4D5AE5;
}
.contact-phone {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.contact-phone:hover,
.contact-phone:focus {
    color: #4D5AE5;;
}
.hero {
    background-color: #2E2F42;;
}
.hero-title {

font-weight: 500;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.modal-button {

font-weight: 500;
font-size: 16px;
line-height: 1.19;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
cursor: pointer;
}
.modal-button:hover,
.modal-button:focus {
    background-color: #404BBF;
}

.team {
    background: #F4F4FD;
}

.data {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
letter-spacing: 0.02em;
color: #2E2F42;
    }

.text {

font-size: 16px;
line-height: 1.5px;
letter-spacing: 0.02em;
color: #434455;

}

.title {
    
   font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.footer-part {
    background-color: #2E2F42;;
}

.btn-item-all {

font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
cursor: pointer;
}


.btn-item {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
background: #F4F4FD;
cursor: pointer;
}

.btn-item:hover,
.btn-item:focus {
    color: #4D5AE5;

}

.inscription--on-img {

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    
    }
    

 /* components */

.img-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;

}
 

.data-text {
    
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}







